@font-face {
    font-family: 'Eina01';
    src: url('Eina01-Bold.woff2') format('woff2'),
        url('Eina01-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-SemiBold.woff2') format('woff2'),
        url('Eina01-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-Light.woff2') format('woff2'),
        url('Eina01-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-Bold.woff2') format('woff2'),
        url('Eina02-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-SemiboldItalic.woff2') format('woff2'),
        url('Eina01-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-LightItalic.woff2') format('woff2'),
        url('Eina01-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-BoldItalic.woff2') format('woff2'),
        url('Eina01-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01';
    src: url('Eina01-Regular.woff2') format('woff2'),
        url('Eina01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina01-RegularItalic';
    src: url('Eina01-RegularItalic.woff2') format('woff2'),
        url('Eina01-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-Regular.woff2') format('woff2'),
        url('Eina02-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-BoldItalic.woff2') format('woff2'),
        url('Eina02-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-Light.woff2') format('woff2'),
        url('Eina02-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-LightItalic.woff2') format('woff2'),
        url('Eina02-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-SemiBold.woff2') format('woff2'),
        url('Eina02-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-BoldItalic.woff2') format('woff2'),
        url('Eina03-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02';
    src: url('Eina02-SemiboldItalic.woff2') format('woff2'),
        url('Eina02-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-Bold.woff2') format('woff2'),
        url('Eina03-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina02-RegularItalic';
    src: url('Eina02-RegularItalic.woff2') format('woff2'),
        url('Eina02-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-LightItalic.woff2') format('woff2'),
        url('Eina03-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-Light.woff2') format('woff2'),
        url('Eina03-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03-RegularItalic';
    src: url('Eina03-RegularItalic.woff2') format('woff2'),
        url('Eina03-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-Regular.woff2') format('woff2'),
        url('Eina03-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-SemiBold.woff2') format('woff2'),
        url('Eina03-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04';
    src: url('Eina04-BoldItalic.woff2') format('woff2'),
        url('Eina04-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina03';
    src: url('Eina03-SemiboldItalic.woff2') format('woff2'),
        url('Eina03-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04';
    src: url('Eina04-Bold.woff2') format('woff2'),
        url('Eina04-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04';
    src: url('Eina04-LightItalic.woff2') format('woff2'),
        url('Eina04-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04';
    src: url('Eina04-Light.woff2') format('woff2'),
        url('Eina04-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04';
    src: url('Eina04-Regular.woff2') format('woff2'),
        url('Eina04-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eina04-RegularItalic';
    src: url('Eina04-RegularItalic.woff2') format('woff2'),
        url('Eina04-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

